table {
  border-collapse: collapse;
  font-weight: 300;
}

th {
  text-align: right;
  font-weight: 400;
}

td {
  text-align: right;
  padding: 0 .5rem;
}



th,
td {
  border: solid 1px #EEEEEE !important;
  padding: 1px 4px;
}

.principal {
  color: #0288D1;
}

.interest {
  color: #EF6C00;
}

.bar {
  display: inline-block;
  border: none;
  height: 8px;
}

.bar.principal {
  background-color: #0288D1;
  margin-right:.5px;
}

.bar.interest {
  background-color: #EF6C00;
  margin-left:.5px;
}

.stretch {
  width: 100%;
  padding-left:0;
  padding-right:0;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.currency::before {
  content:"$";
}
